<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.unicid.quiz">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name2"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaRanking"
            android:label="@string/app_name3"/>
        <activity android:name=".Tela11" />
        <activity android:name=".Tela10" />
        <activity android:name=".Tela9" />
        <activity android:name=".Tela8" />
        <activity android:name=".Tela7" />
        <activity android:name=".Tela6" />
        <activity android:name=".Tela5" />
        <activity android:name=".Tela4" />
        <activity android:name=".Tela3" />
        <activity android:name=".Tela2" />
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>